.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.container {
  align-items: center;
  border: 1px solid #ddd;
  display: flex;
  height: 50px;
  justify-content: space-between;
  padding: 0 20px;
}
.add-form,
.input-group {
  align-items: center;
  display: flex;
  gap: 20px;
}
.form-label {
  font-size: 16px;
  font-weight: 700;
}
.add-form {
  background-color: #eee;
  border-radius: 12px;
  justify-content: space-between;
  margin: 0 auto;
  padding: 30px;
}
.add-input-body {
  border: none;
  border-radius: 12px;
  height: 40px;
  padding: 0 12px;
  width: 240px;
}
.add-input {
  border: none;
  border-radius: 12px;
  height: 40px;
  padding: 0 12px;
  width: 240px;
}
.list-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.App-link {
  color: #61dafb;
}
.list-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 12px;
}
.form-label {
  font-size: 16px;
  font-weight: 700;
}
.add-button {
  background-color: darkmagenta;
  border: none;
  border-radius: 30px;
  font-weight: 800;
  height: 50px;
  width: 70px;
}
.todos-container {
  border: 4px solid gold;
  border-radius: 12px;
  padding: 12px 24px 24px;
  width: 270px;
}
.list-container {
  padding: 0 24px;
}
div {
  display: block;
}
h2 {
  display: block;
  font-size: 1.5em;
  margin-block-start: 0.83em;
  margin-block-end: 0.83em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
.button-set {
  display: flex;
  gap: 10px;
  margin-top: 24px;
}
button {
  border-radius: 8px;
  cursor: pointer;
  height: 40px;
  width: 50%;
}
.todo-delete-button {
  background-color: crimson;
  border: 2px solid black;
}
.todo-complete-button {
  background-color: #61dafb;
  border: 2px solid white;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
